@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
    --light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.bx
{
    font-size: 1.7rem;
}
a
{
    text-decoration: none;
}
li
{
    list-style: none;
}
html
{
    overflow-x: hidden;
}
body.dark
{
    --light:#161a1e;
    --grey:#25252c;
    --dark: #fbfbfb;
}
body
{
    background: var(--grey);
    overflow-x: hidden;
}
.sidebar
{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--light);
    width: 230px;
    height: 100%;
    z-index: 2600;
    overflow-x: hidden;
    scrollbar-width: none;
    transition: all 0.3s ease;
}
.sidebar::-webkit-scrollbar
{
    display: none;
}
